* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(35deg, rgb(44, 42, 42), rgb(87, 83, 83));
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

select {
  padding: 1rem;
  font-size: 2rem;
  width: 250px;
}

button {
  border: none;
  padding: 1rem;
  background: white;
  border-radius: 5px;
  margin: 0 1rem;
}

.kickSection,
.hihatSection,
.snareSection {
  display: flex;
  align-items: center;
}

.kickPads,
.snarePads,
.hihatPads {
  display: flex;
}

.kickPad {
  background: rgb(99, 99, 197);
}

.kickPad.active {
  background: blue;
}

.hihatPad {
  background: rgb(130, 207, 130);
}

.hihatPad.active {
  background: green;
}

.snarePad {
  background: rgb(218, 117, 117);
}

.snarePad.active {
  background: red;
}

.pad {
  height: 80px;
  width: 80px;

  margin: 1rem;
  cursor: pointer;
}
