* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: rgb(58, 58, 58);
  color: white;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
}

.controls h2 {
  font-size: 2rem;
}

.muteBtn {
  padding: 1rem;
  color: black;
  background: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease 0.5s;
}

.muteBtn.active {
  background: red;
}

select {
  padding: 1rem;
  cursor: pointer;
}

.pads {
  display: flex;
}

.pad {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  cursor: pointer;
  transition: all ease 0.5s;
}

.kickPad {
  background: rgb(90, 121, 167);
}

.snarePad {
  background: rgb(128, 177, 132);
}

.hihatPad {
  background: rgb(182, 100, 100);
}

.kickPad.active {
  background: rgb(0, 0, 255);
}

.snarePad.active {
  background: rgb(0, 241, 20);
}

.hihatPad.active {
  background: rgb(255, 3, 3);
}

.playBtn {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
  cursor: pointer;
}

.slider {
  width: 30%;
}

.slider p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.bpm {
  cursor: pointer;
  width: 100%;
  margin: 2rem 0rem;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
